---
import Hero from '../../components/react/Hero';
import Base from '../../layouts/Base.astro';
---

<Base>
	<main>
		<Hero
			description='Creating simple and pretty user interactions.'
			client:load
		/>
	</main>
</Base>
