---
import Hero from '../../components/react/Hero';
import Timeline from '../../components/react/Timeline';
import Base from '../../layouts/Base.astro';
import timeline from './timeline';
---

<Base>
	<main>
		<Hero
			description='Creating simple and pretty user interactions.'
			client:load
		/>
		<Timeline client:load timeline={timeline} />
	</main>
</Base>
