---
import Hero from '../../components/react/Hero';
import Timeline from '../../components/react/Timeline';
import SkillCloud from '../../components/react/SkillCloud';
import Base from '../../layouts/Base.astro';
import timeline from './timeline';
---

<Base>
	<main>
		<Hero
			description='Creating simple and pretty user interactions.'
			client:load
		/>
		<Timeline client:load timeline={timeline} />
		<SkillCloud
			client:load
			description='Some languages, frameworks and tools I like to work with.'
		/>
	</main>
</Base>
