---
import { SITE_TITLE } from '../consts';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
	<nav
		class='fixed w-full flex justify-center gap-8 h-16 items-center bg-gray-900 border-b text-white'>
		<a href={`/${lang}/`}>
			{t('nav.home')}
		</a>
		<a href={`/${lang}/about/`}>
			{t('nav.about')}
		</a>
		<a href=`/${lang}/blog/`> Blog</a>
	</nav>
</header>
