---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
	<nav
		class='fixed w-full flex justify-center gap-8 h-16 items-center bg-gray-980'>
		<a href={`/${lang}/`}>
			{t('nav.home')}
		</a>
		<a href=`/${lang}/blog/`> Blog</a>
	</nav>
	<div class='pt-16'></div>
</header>
