---
import { languages } from '../i18n/ui';

const determineURL = (lang: string) => {
	const url = Astro.url.pathname;
	const urlParts = url.split('/');
	urlParts[1] = lang;
	return urlParts.join('/');
};
---

<ul class='fixed bottom-8 right-8'>
	{
		Object.entries(languages).map(([lang, label]) => (
			<li>
				<a href={determineURL(lang)}>{label}</a>
			</li>
		))
	}
</ul>
