---
import Hero from '../../components/react/Hero';
import Timeline from '../../components/react/Timeline';
import Base from '../../layouts/Base.astro';
import timeline from './timeline';
---

<Base>
	<main>
		<Hero
			client:load
			description='Ich erstelle einfache und schöne Nutzerinteraktionen.'
		/>
		<Timeline client:load timeline={timeline} />
	</main>
</Base>
