---
import Hero from '../../components/react/Hero';
import Base from '../../layouts/Base.astro';
---

<Base>
	<main>
		<Hero
			client:load
			description='Ich erstelle einfache und schöne Nutzerinteraktionen.'
		/>
	</main>
</Base>
