---
import Header from '../components/Header.astro';
import LanguagePicker from '../components/LanguagePicker.astro';
import { SITE_TITLE } from '../consts';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<title>Paul Faass | Portfolio</title>
	</head>
	<body class='text-gray-600 dark:text-gray-200 dark:bg-gray-950'>
		<Header title={SITE_TITLE} />
		<slot />
		<LanguagePicker />
	</body>
</html>
